<div class="container my-5">
    <div class="d-flex justify-content-between px-0">
        <div>
            <h1 class="mb-3">{{productId == 0? 'Add' : 'Edit'}} Product</h1>
        </div>
        <div class="d-flex mh-4 align-items-center">
            <button type="button" class="btn btn-outline-info" (click)="goBack($event)">Go Back</button>
        </div>
    </div>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="d-flex col-12">
            <form #form="ngForm" class="col-12" (ngSubmit)="productId == 0 ? addProduct(ktmProduct) : updateProduct(ktmProduct)">
                <div class="form-group">
                    <label for="code">KTM Code *</label>
                    <input type="text" class="form-control" id="code" [class.invalid-input]="(!ktmProduct.productCode && feildEmpty)" #productCodeFeild="ngModel" aria-describedby="codeFeildHelp" placeholder="Enter KTM Code" name="productCode" [(ngModel)]="ktmProduct.productCode" required>
                    <small id="codeFeildHelp" class="form-text text-muted sr-only">Add the particular KTM code and it should match with standard KTM code.</small>
                    <mat-error *ngIf="(!ktmProduct.productCode && (productCodeFeild.dirty || productCodeFeild.touched)) || (!ktmProduct.productCode && feildEmpty)" class="text-danger">
                        Please add the Product Code
                    </mat-error>
                </div>
                <div class="form-group">
                    <label for="product">Product *</label>
                    <input type="text" class="form-control" id="product" [class.invalid-input]="(!ktmProduct.productName && feildEmpty)" #productNameFeild="ngModel" aria-describedby="productFeildHelp" placeholder="Enter Product Name" name="productName" [(ngModel)]="ktmProduct.productName" required>
                    <small id="productFeildHelp" class="form-text text-muted sr-only">Add the particular KTM product name.</small>
                    <mat-error *ngIf="(!ktmProduct.productName && (productNameFeild.dirty || productNameFeild.touched)) || (!ktmProduct.productName && feildEmpty)" class="text-danger">
                        Please add the Product Name
                    </mat-error>
                </div>
                <div class="form-group">
                    <label for="mYear">Manufac. Country</label>
                    <input type="text" class="form-control" id="mCountry" aria-describedby="manufacCFeildHelp" placeholder="Enter Manufacturer Country" name="manufacturerCountry" [(ngModel)]="ktmProduct.manufacturerCountry">
                    <small id="manufacCFeildHelp" class="form-text text-muted sr-only">Add the manufacture country of the product.</small>
                </div>
                <div class="form-group">
                    <label for="mYear">Manufac. Year</label>
                    <input type="datetime-local" class="form-control" id="mYear" aria-describedby="manufacFeildHelp" placeholder="Enter Manufacturer Year" name="manufacturerYear" [(ngModel)]="ktmProduct.manufacturerYear">
                    <small id="manufacFeildHelp" class="form-text text-muted sr-only">Add the manufacture year of the product.</small>
                </div>
                <div class="form-group">
                    <label for="qty">Quantity *</label>
                    <input type="number" class="form-control" id="qty" [class.invalid-input]="(!ktmProduct.quantity && feildEmpty)" #quantityFeild="ngModel" step="1" aria-describedby="quantityFeildHelp" placeholder="Enter Quantity" name="quantity" [(ngModel)]="ktmProduct.quantity" required>
                    <small id="quantityFeildHelp" class="form-text text-muted sr-only">Add the quantity product.</small>
                    <mat-error *ngIf="(!ktmProduct.quantity && (quantityFeild.dirty || quantityFeild.touched)) || (!ktmProduct.quantity && feildEmpty)" class="text-danger">
                        Please add the Quantity
                    </mat-error>
                </div>
                <div class="form-group">
                    <label for="qlityLevel">Quality Level *</label>
                    <input type="number" class="form-control" id="qlityLevel" [class.invalid-input]="(!ktmProduct.qualityLevel && feildEmpty)" #qualityLevelFeild="ngModel" step="1" aria-describedby="qualityFeildHelp" placeholder="Enter Quality Level" name="qualityLevel" [(ngModel)]="ktmProduct.qualityLevel" required>
                    <small id="qualityFeildHelp" class="form-text text-muted sr-only">Add the quality level of product.</small>
                    <mat-error *ngIf="(!ktmProduct.qualityLevel && (qualityLevelFeild.dirty || qualityLevelFeild.touched)) || (!ktmProduct.qualityLevel && feildEmpty)" class="text-danger">
                        Please add the Quality Level
                    </mat-error>
                </div>
                <div class="form-group">
                    <label for="sPrice">Selling Price *</label>
                    <input type="number" class="form-control" id="sPrice" [class.invalid-input]="(!ktmProduct.sellingPrice && feildEmpty)" #sellingPriceFeild="ngModel" step="0.01" aria-describedby="sellingPriceFeildHelp" placeholder="Enter Selling Price" name="sellingPrice" [(ngModel)]="ktmProduct.sellingPrice" required>
                    <small id="sellingPriceFeildHelp" class="form-text text-muted sr-only">Add the selling price of the product.</small>
                    <mat-error *ngIf="(!ktmProduct.sellingPrice && (sellingPriceFeild.dirty || sellingPriceFeild.touched)) || (!ktmProduct.sellingPrice && feildEmpty)" class="text-danger">
                        Please add the Selling Price
                    </mat-error>
                </div>
                <div class="form-group">
                    <label for="pPrice">Purchase Price *</label>
                    <input type="number" class="form-control" id="pPrice" [class.invalid-input]="(!ktmProduct.purchasePrice && feildEmpty)" #purchasePriceFeild="ngModel" step="0.01" aria-describedby="purchasePriceFeildHelp" placeholder="Enter Purchase Price" name="purchasePrice" [(ngModel)]="ktmProduct.purchasePrice" required>
                    <small id="purchasePriceFeildHelp" class="form-text text-muted sr-only">Add the purchase price of the code.</small>
                    <mat-error *ngIf="(!ktmProduct.purchasePrice && (purchasePriceFeild.dirty || purchasePriceFeild.touched)) || (!ktmProduct.purchasePrice && feildEmpty)" class="text-danger">
                        Please add the Purchase Price
                    </mat-error>
                </div>
                <button type="submit" class="btn btn-primary mt-2">{{productId == 0 ? 'Add' : 'Update'}}</button>
              </form>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
