<div class="d-flex flex-row m-6">
    <div class="d-flex flex-wrap">
        <!-- <a routerLink="/bajaj">
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top product_image" src="../../../assets/bajaj_logo.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">David Peris Motor Company - Colombo</p>
                </div>
            </div>
        </a> -->
        <div class="card m-2 product-card" (click)="navigateToPage($event, '/bajaj')">
            <img class="card-img-top product_image" src="../../../assets/bajaj_logo.png" alt="Bajaj Logo">
            <div class="card-body">
                <p class="card-text underline-none">David Peris Motor Company - Colombo</p>
            </div>
        </div>
        <div class="card m-2 product-card" (click)="navigateToPage($event, '/tvs')">
            <img class="card-img-top product_image" src="../../../assets/tvs_logo.webp" alt="TVS Logo">
            <div class="card-body">
                <p class="card-text">TVS Lanka (Pvt) Ltd - Colombo</p>
            </div>
        </div>
        <div class="card m-2 product-card" (click)="navigateToPage($event, '/honda')">
            <img class="card-img-top product_image" src="../../../assets/honda_logo.webp" alt="Honda Logo">
            <div class="card-body">
                <p class="card-text">Stafford Motor Company - Boralesgamuwa</p>
            </div>
        </div>
        <div class="card m-2 product-card" (click)="navigateToPage($event, '/hero')">
            <img class="card-img-top product_image" src="../../../assets/hero_logo.webp" alt="Hero Logo">
            <div class="card-body">
                <p class="card-text">Hero MotoCorp - Colombo</p>
            </div>
        </div>  
        <div class="card m-2 product-card" (click)="navigateToPage($event, '/yamaha')">
            <img class="card-img-top product_image" src="../../../assets/yamaha_logo.jpeg" alt="Yamaha Logo">
            <div class="card-body">
                <p class="card-text">Associated Motorways (Pvt) Ltd - Colombo</p>
            </div>
        </div>
        <div class="card m-2 product-card" (click)="navigateToPage($event, '/mahindra')">
            <img class="card-img-top product_image" src="../../../assets/mahindra_logo.png" alt="Mahindra Logo">
            <div class="card-body">
                <p class="card-text">Ideal Motors - Colombo</p>
            </div>
        </div>
        <div class="card m-2 product-card" (click)="navigateToPage($event, '/ktm')">
            <img class="card-img-top product_image" src="../../../assets/ktm_logo.webp" alt="KTM Logo">
            <div class="card-body">
                <p class="card-text">KTM Srilanka - Battaramulla</p>
            </div>
        </div>
        <div class="card m-2 product-card" (click)="navigateToPage($event, '/demark')">
            <img class="card-img-top product_image" src="../../../assets/demak_logo.png" alt="Demark Logo">
            <div class="card-body">
                <p class="card-text">DEMAK Motors - Wattala</p>
            </div>
        </div>
        <div class="card m-2 product-card" (click)="navigateToPage($event, '/suzuki')">
            <img class="card-img-top product_image" src="../../../assets/suzuki_logo.jpg" alt="Suzuki Logo">
            <div class="card-body">
                <p class="card-text">Associated Motorways (Pvt) Ltd - Colombo</p>
            </div>
        </div>
        <div class="card m-2 product-card" (click)="navigateToPage($event, '/kawasaki')">
            <img class="card-img-top product_image" src="../../../assets/kawasaki_logo.png" alt="Kawasaki Logo">
            <div class="card-body">
                <p class="card-text">Dilan Motors - Boralesgamuwa</p>
            </div>
        </div> 
    </div>
</div>
